@font-face {
  font-family: "Literata Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url(@fontsource-variable/literata/files/literata-latin-opsz-normal.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Literata Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url(@fontsource-variable/literata/files/literata-latin-ext-opsz-normal.woff2) format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
    U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
}

@font-face {
  font-family: "Literata Variable";
  font-style: italic;
  font-display: swap;
  font-weight: 200 900;
  src: url(@fontsource-variable/literata/files/literata-latin-opsz-italic.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Literata Variable";
  font-style: italic;
  font-display: swap;
  font-weight: 200 900;
  src: url(@fontsource-variable/literata/files/literata-latin-ext-opsz-italic.woff2) format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
    U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
}

@font-face {
  font-family: "Overpass Mono Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url(@fontsource-variable/overpass-mono/files/overpass-mono-latin-wght-normal.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --f--2: clamp(0.7407rem, 0.6877rem + 0.2356vw, 0.8889rem);
  --f--1: clamp(0.8333rem, 0.7737rem + 0.2651vw, 1rem);
  --f-0: clamp(0.9375rem, 0.8704rem + 0.2982vw, 1.125rem);
  --f-1: clamp(1.0547rem, 0.9792rem + 0.3355vw, 1.2656rem);
  --f-2: clamp(1.1865rem, 1.1016rem + 0.3774vw, 1.4238rem);
  --f-3: clamp(1.3348rem, 1.2393rem + 0.4246vw, 1.6018rem);
  --f-4: clamp(1.5017rem, 1.3942rem + 0.4777vw, 1.802rem);
  --leading: 0.333lh;
  --indent: 0.5rem;

  --colour-black: #1d211c;
  --colour-white: #fbfefb;
  --colour-bright-grey: #f8faf8;
  --colour-grey: #60655f;

  --weight-normal: 450;
  --weight-semibold: 550;
  --weight-bold: 650;
  --weight-extrabold: 850;

  --font-serif: "Literata Variable", "Sitka Text", Georgia, ui-serif;
  --font-mono:
    "Overpass Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New";

  --line-height: 1.65;

  background: var(--colour-bright-grey);
  color: var(--colour-black);
  font-family: var(--font-serif), serif;
  font-weight: var(--weight-normal);
  font-size: var(--f-0);
  line-height: var(--line-height);
}

:target {
  scroll-margin-top: var(--separation, 1lh);
}

body {
  max-width: 75ch;
  margin-inline: auto;
  margin-block-start: 15vh;
  margin-block-end: 80vh;
}

a {
  color: #2a7e3b;
  font-weight: var(--weight-bold);
  text-decoration: underline;
  text-decoration-color: #b2ddb5;
  text-underline-offset: 0.15em;

  &:hover {
    color: #65ba74;
    text-decoration-color: #b2ddb5;
    text-decoration-thickness: 2px;
  }

  &:active,
  &:focus {
    background: #2a7e3b;
    color: var(--colour-white);
  }
}

:is(h1, h2, h3, h4, h5, h6) {
  margin-block-start: var(--separation, 1rem);
  margin-block-end: var(--leading);
}

h1 {
  --separation: 6rem;
  font-size: var(--f-3);
}

h2 {
  --separation: 3rem;
  font-size: var(--f-1);
}

h3 {
  --separation: 2rem;
  font-size: var(--f-0);
}

:is(h1, h2, h3, h4, h5, h6) > a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

nav ol {
  list-style: none;
  counter-reset: item;

  & li {
    counter-increment: item;
  }

  & li::marker {
    content: counters(item, ".") " ";
    font-weight: var(--weight-semibold);
    color: var(--colour-grey);
  }
}

ul,
ol {
  --gap: calc(var(--leading) / 3);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-inline-start: var(--indent);

  & :is(ul, ol) {
    margin-block: var(--gap);
    padding-inline-start: 2.5rem;
  }
}

em {
  font-style: italic;
  font-weight: inherit;
  color: var(--colour-grey);
}

abbr {
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;

  cursor: help;
}

.title {
  font-size: var(--f-4);
  font-weight: var(--weight-extrabold);
}

.metadata {
  font-style: italic;
}

.prose {
  --prose-padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > * {
    padding-inline: var(--prose-padding);
  }

  & > p {
    margin-inline-start: var(--indent);
  }

  & > .prose {
    padding-inline: inherit;
  }
}

.syntax {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding-inline: unset;
  margin-block-end: 1rem;

  & > * {
    padding-inline: calc(var(--indent) + var(--prose-padding));
  }
}

.syntax-caption {
  font-size: var(--f--1);
  font-weight: var(--weight-semibold);
  font-style: italic;
}

.syntax-seq {
  display: inline-flex;
  align-items: baseline;
  gap: 1ch;
}

.syntax-parens,
.syntax-terminal,
.syntax-unicode,
.syntax-quantifier {
  font-family: var(--font-mono), monospace;
}

.syntax-terminal,
.syntax-unicode {
  font-weight: var(--weight-bold);
}

.syntax-parens {
  color: var(--colour-grey);
}

.syntax-nonterminal {
  font-style: italic;
  font-weight: var(--weight-normal);
  color: var(--colour-grey);
  text-decoration-color: #d7dad7;
}

.syntax-prose {
  line-height: var(--line-height);
}

.ruleset {
  display: flex;
  flex-direction: column;
  gap: 1lh;

  padding-block: calc(var(--indent) + var(--prose-padding));

  background: #e9f6e9;
  border: 1px solid #c9e8ca;
  border-radius: 0.5ch;

  & .syntax-nonterminal:not(:hover, :focus, :active) {
    color: inherit;
    text-decoration: none;
  }
}

.rule {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-block-start: var(--leading);
  }
}

.rule-name {
  line-height: 1.2;

  &::after {
    content: ":";
    font-style: italic;
  }

  & .syntax-nonterminal:not(:hover, :focus, :active) {
    text-decoration: none;
    color: var(--colour-black);
  }
}

.rule-def {
  display: flex;
  align-items: center;

  margin-inline-start: calc(2 * var(--prose-padding));
  line-height: 1.25;
}

.unicode,
.syntax-unicode {
  font-style: normal;
  font-variant-numeric: tabular-nums;
  letter-spacing: 0.1ch;
}

.unicode {
  font-size: var(--f--2);
  font-weight: var(--weight-semibold);
}

::selection {
  background: #3e9b4f;
  color: #fbfefb;
}
