@import "./fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --f--2: clamp(0.7407rem, 0.6877rem + 0.2356vw, 0.8889rem);
  --f--1: clamp(0.8333rem, 0.7737rem + 0.2651vw, 1rem);
  --f-0: clamp(0.9375rem, 0.8704rem + 0.2982vw, 1.125rem);
  --f-1: clamp(1.0547rem, 0.9792rem + 0.3355vw, 1.2656rem);
  --f-2: clamp(1.1865rem, 1.1016rem + 0.3774vw, 1.4238rem);
  --f-3: clamp(1.3348rem, 1.2393rem + 0.4246vw, 1.6018rem);
  --f-4: clamp(1.5017rem, 1.3942rem + 0.4777vw, 1.802rem);

  --colour-grey-12: #1d211c;
  --colour-grey-1: #fcfdfc;
  --colour-grey-2: #f8faf8;
  --colour-grey-6: #d7dad7;
  --colour-grey-11: #60655f;
  --colour-grey-a6: #00140028;
  --colour-accent-5: #c9e8ca;
  --colour-accent-6: #b2ddb5;
  --colour-accent-9: #46a758;
  --colour-accent-10: #3e9b4f;
  --colour-accent-11: #2a7e3b;
  --colour-accent-12: #203c25;
  --colour-accent-a3: #00970016;
  --colour-accent-a6: #008f0a4d;

  --weight-normal: 450;
  --weight-semibold: 550;
  --weight-bold: 650;
  --weight-extrabold: 850;

  --font-serif: "Literata Variable", "Sitka Text", Georgia, ui-serif;
  --font-mono:
    "Iosevka Etoile", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New";

  --line-height: 1.65;

  --leading: 0.333lh;
  --indent: 0.5rem;
  --prose-padding: 1rem;
  --prose-indented-padding: calc(var(--prose-padding) + var(--indent));

  background: var(--colour-grey-2);
  color: var(--colour-grey-12);
  font-family: var(--font-serif), serif;
  font-weight: var(--weight-normal);
  font-size: var(--f-0);
  line-height: var(--line-height);
}

::selection {
  background: var(--colour-accent-a6);
}

a {
  color: var(--colour-accent-11);
  font-weight: var(--weight-bold);
  text-decoration: underline;
  text-decoration-color: var(--colour-accent-6);
  text-underline-offset: 0.15em;

  &:hover {
    color: var(--colour-accent-9);
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration-color: var(--colour-accent-6);
    text-decoration-thickness: 2px;
  }

  &:active,
  &:focus {
    background: var(--colour-accent-11);
    color: var(--colour-grey-1);
  }
}

:is(h2, h3, h4, h5, h6) {
  margin-block-start: var(--separation, 1rem);
  margin-block-end: var(--leading);
}

h1 {
  font-size: var(--f-4);
  font-weight: var(--weight-extrabold);
  line-height: 1.33;
}

.subtitle {
  font-weight: var(--weight-normal);
}

h2 {
  --separation: 6rem;
  font-size: var(--f-3);
}

h3 {
  --separation: 3rem;
  font-size: var(--f-1);
}

h4 {
  --separation: 2rem;
  font-size: var(--f-0);
}

:is(h2, h3, h4, h5, h6) > a {
  color: inherit;
  text-decoration-line: none;

  &:hover,
  &:focus {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
  }
}

ul,
ol {
  --gap: calc(var(--leading) / 3);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-inline-start: 1rem;

  & :is(ul, ol) {
    margin-block: var(--gap);
    padding-inline-start: 3rem;
  }
}

em {
  font-style: italic;
  font-weight: inherit;
  color: var(--colour-grey-11);
}

abbr {
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;

  cursor: help;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1ch;
  row-gap: 0.125rem;

  & > div {
    display: contents;
  }
}

dt {
  font-weight: var(--weight-bold);
}

code,
pre,
output {
  font-family: var(--font-mono), monospace;
  font-size: var(--f--1);
  line-height: 1.25;
  font-variant-ligatures: none;

  &:not(.syntax-terminal) {
    background: var(--colour-accent-a3);
    color: var(--colour-accent-12);

    padding-inline: 0.5ch;
    padding-block-start: 0.25ch;
    border-radius: 0.25ch;
    box-shadow: 0 1px 0 0.5px var(--colour-accent-a6);
  }
}

table {
  text-align: left;
  align-self: center;

  border-collapse: collapse;
}

caption,
summary,
figcaption {
  font-size: var(--f--1);
  font-weight: var(--weight-semibold);
  font-style: italic;
}

caption {
  caption-side: bottom;
  padding-block-start: 0.5rem;
}

figcaption {
  padding-inline-start: var(--prose-indented-padding);
}

table,
thead,
tr {
  border-block: 2px solid var(--colour-grey-6);
}

tr {
  border-width: 1px;
}

th,
td {
  padding-block: 0.25rem;
  padding-inline: 0.5rem;

  &:first-child {
    padding-inline-start: var(--prose-indented-padding);
  }

  &:last-child {
    padding-inline-end: var(--prose-indented-padding);
  }
}

.metadata {
  font-style: italic;
}

.heading-level {
  color: var(--colour-grey-11);
  font-weight: var(--weight-semibold);
}

a:is(:hover, :focus, :active, :focus) .heading-level {
  color: inherit;
}

.body {
  display: grid;
  grid-template-columns: auto;
  place-content: center;

  margin-block-start: 15vh;
}

.header {
  grid-column: 1 / -1;

  display: flex;
  gap: 1rem 5rem;
  flex-wrap: wrap;
  place-content: space-between;
  align-items: center;
}

.main {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: subgrid;
  row-gap: 2rem;
  place-content: center;
}

.toc {
  height: fit-content;

  margin-block-start: 6rem;
  padding-block-start: 1rem;
  padding-block-end: 2rem;

  background: var(--colour-grey-2);

  @media (min-width: 80ch) {
    max-height: 100vh;

    overflow-y: auto;
    scrollbar-width: thin;

    font-size: var(--f--2);
  }
}

.header,
.toc {
  padding-inline: var(--prose-padding);
}

.content {
  min-width: 0;
  margin-block-end: 80vh;
}

@media (min-width: 80ch) {
  .body {
    grid-template-columns: 35ch fit-content(75ch);
  }

  .toc {
    position: sticky;
    top: 0;
  }

  .content {
    padding-inline: var(--prose-padding);
  }
}

.toc h2 {
  margin-block-start: 0;
  font-size: var(--f-0);
}

.toc ol {
  list-style: none;
  counter-reset: item;

  & li {
    counter-increment: item;
  }

  & li::marker {
    content: counters(item, ".") " ";
    font-weight: var(--weight-semibold);
    color: var(--colour-grey-11);
  }
}

.prose {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > * {
    padding-inline: var(--prose-padding);
    margin-inline-start: var(--indent);
  }

  & > :is(div, section, aside, img, figure, table, details) {
    margin-inline-start: inherit;
  }

  & > .prose {
    padding-inline: inherit;
  }
}

.syntax {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding-inline: unset;
  margin-block-end: 1rem;
}

.syntax-caption {
  order: 1;
}

@supports (anchor-name: --anchor-rule-name) {
  .rule {
    anchor-scope: --anchor-rule-name;
  }

  .rule-name > a {
    anchor-name: --anchor-rule-name;
  }

  .syntax-one-of {
    position: absolute;
    position-anchor: --anchor-rule-name;
    position-area: inline-end;

    display: inline-block;
    margin-inline-start: 1.5ch;

    font-weight: var(--weight-semibold);
  }
}

.syntax-seq {
  display: inline-flex;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 1ch;
}

.syntax-parens,
.syntax-terminal,
.syntax-unicode,
.syntax-quantifier {
  font-family: var(--font-mono), monospace;
  font-variant-ligatures: none;
}

.syntax-terminal,
.syntax-unicode {
  font-weight: var(--weight-bold);
}

.syntax-parens {
  color: var(--colour-grey-11);
}

.syntax-nonterminal {
  font-family: var(--font-serif), serif;
  font-style: italic;
  font-weight: var(--weight-normal);
  color: var(--colour-grey-11);
  text-decoration-color: var(--colour-grey-a6);
}

.syntax-prose,
.syntax-but-not {
  line-height: var(--line-height);
}

.ruleset {
  display: flex;
  flex-direction: column;
  gap: 1lh;

  padding-block: var(--prose-indented-padding);

  background: var(--colour-accent-a3);
  border: 1px solid var(--colour-accent-5);

  & .syntax-nonterminal:not(:hover, :focus, :active) {
    color: inherit;
    text-decoration-line: none;
  }

  & > * {
    padding-inline: var(--prose-indented-padding);
  }
}

.rule {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-block-start: 0.5lh;
  }
}

.rule-name {
  line-height: 1.25;

  &::after {
    content: ":";
    font-style: italic;
    font-weight: var(--weight-normal);
  }

  & .syntax-nonterminal:not(:hover, :focus, :active) {
    color: var(--colour-grey-12);
    text-decoration-line: none;
  }
}

.ruleset-separator {
  height: 1px;
  display: block;
  padding-inline: unset;
  border-top: 2px dashed var(--colour-accent-a6);
}

.rule-def {
  display: flex;
  align-items: center;

  margin-inline-start: calc(2 * var(--prose-padding));
  line-height: 1.25;
}

.unicode,
.syntax-unicode {
  font-style: normal;
  font-variant-numeric: tabular-nums;
  letter-spacing: 0.1ch;
}

.unicode {
  font-size: var(--f--2);
  font-weight: var(--weight-semibold);
}

.note,
.rationale {
  --colour-accent-5: #c2e5ff;
  --colour-accent-6: #acd8fc;
  --colour-accent-11: #0d74ce;
  --colour-accent-12: #113264;
  --colour-accent-a3: #008ff519;
  --colour-accent-a6: #0088f653;
}

.note {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1ch;

  padding: var(--prose-indented-padding);

  background: var(--colour-accent-a3);
  border: 1px solid var(--colour-accent-5);
}

.rationale {
  padding-inline: unset;

  &:open {
    padding-block-end: var(--prose-padding);

    background: var(--colour-accent-a3);
    box-shadow: 0 0 0 1px var(--colour-accent-5);
  }
}

.rationale-summary {
  --padding: var(--prose-padding);

  width: fit-content;
  padding-block-start: var(--padding);
  padding-inline: var(--prose-indented-padding);
  cursor: zoom-in;

  /* targets just the text and not the marker */
  & > :last-child {
    text-decoration: underline;
    text-decoration-color: var(--colour-accent-6);
    text-underline-offset: 0.15em;
  }

  :open > & {
    padding-block: var(--padding);
    color: var(--colour-accent-12);
    cursor: zoom-out;
  }

  &::marker {
    content: "";
  }

  &::before {
    display: inline-block;
    width: 2ch;

    content: "❧";
    font-style: normal;
  }

  :open > &::before {
    content: "❦";
  }

  position: relative;

  :not(:open) > &::after {
    position: absolute;
    inset: 0;
    bottom: calc(var(--padding) * -1);

    content: "";
  }
}

@media (min-width: 80ch) {
  .ruleset,
  .note,
  .rationale {
    border-radius: 0.5ch;
  }
}

@media (max-width: 80ch) {
  .ruleset,
  .note,
  .rationale {
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.colour\:accent-12 {
  color: var(--colour-accent-12);
}
